include README.rst
include LICENSE
include CHANGELOG.rst
include CONTRIBUTING.rst
include CREDITS.rst
include citation.bib
include citation.ris
include requirements*.txt

global-exclude *.py[co]
global-exclude __pycache__
global-exclude *~
global-exclude *.ipynb_checkpoints/*
